.dashboard-main {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 40px 60px;
  flex-wrap: wrap;
}

.dashboard-left {
  flex: 1.5;
  min-width: 500px;
  max-width: 600px;
}

.dashboard-right {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
}
